<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean class="web.controller.member.LoginController" id="login"></bean>
    <bean class="web.controller.member.LogoutController" id="logout"></bean>
    <bean class="web.controller.member.MemberInsertController" id="memberInsert"></bean>
    <bean class="web.controller.member.MemberDeleteController" id="memberDelete"></bean>
    <bean class="web.controller.board.BoardWriteController" id="boardWrite"></bean>
    <bean class="web.controller.board.BoardDeleteController" id="boardDelete"></bean>
</beans>
